<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="apiKey" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="apiKey" value="your_api_key" xdt:Transform="Insert"/>
    <add key="deviceName" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="deviceName" value="Google Pixel" xdt:Transform="Insert"/>
    <add key="remoteAddress" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="remoteAddress" value="http://us1.appium.testobject.com/wd/hub" xdt:Transform="Insert"/>
  </appSettings>
</configuration>