<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="apkPath" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="apkPath" value="path_to_your_apk" xdt:Transform="Insert"/>
    <add key="deviceName" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="deviceName" value="Android Emulator" xdt:Transform="Insert"/>
    <add key="remoteAddress" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="remoteAddress" value="http://127.0.0.1:4723/wd/hub" xdt:Transform="Insert"/>
  </appSettings>
</configuration>